<!--- Base Formatting --->body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

p {
    text-align: left;
    padding: 8px;
}

<!--- Form styling --->* {
    box-sizing: border-box;
}

/* Input Styles */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 2px 2px 2px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input.PriceTbl1Qty {
   background-color: #f5f5f5;
   border: 1px solid #e6e6e6;
   width: 100%;
   padding: 0px;
   text-align: right;
}

input.PriceTbl1Prc {
   background-color: #f5f5f5;
   border: 1px solid #e6e6e6;
   width: 100%;
   padding: 0px;
   text-align: right;
}

input.PriceTbl1Notes {
   background-color: #f5f5f5;
   border: 1px solid #e6e6e6;
   width: 100%;
   padding: 0px;
   text-align: left;
}

/* Other Styles */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    text-align: right;
    font-weight: bold;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .col-25 {
        text-align: left;
    }
}

/* Table Styling */
table.PriceTbl1 {
	border-collapse: collapse;
    width: 100%;
	font-size: .8em;
	table-layout: fixed;   /*Makes the table render faster */
}

.PriceTbl1 td,
.PriceTbl1 th {
    border: 1px solid #ddd;
    text-align: right;
    padding: 2px;
}

td.PriceTbl1Qty {
	padding-right: 18px;
}

td.PriceTbl1Prc {
	padding-right: 18px;
}

td.PriceTbl1Val {
	padding-right: 9px;
}

td.tdModuleNotes{
	/* white-space: nowrap;  //Just makes the other columns thinner! */
}
.PriceTbl1 th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #00ACF0;
    color: white;
}

td.tdSuite {
	padding: 12px 8px 0px 8px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

td.tdModule {
    text-align: left;
    padding-left: 15px;
}

td.tdModuleNotes {
    text-align: left;
}

/* .PriceTbl1 tr:nth-child(even){background-color: #f2f2f2;} */

.PriceTbl1 tr:hover {
    background-color: #ddd;
}